---
layout: page
# The Categories page layout
---

{% include lang.html %}

<h1 class="ps-lg-2">
  <i class="far fa-folder-open fa-fw text-muted"></i>
  {{ site.data.locales[lang].tabs.categories | default: "Categories" }}
</h1>

<div id="categories-overview" class="pl-xl-3">
  {% for category in site.categories %}
  <div class="category-section mb-4">
    <h3 class="category-name ps-lg-2">
      {% assign category_name = category[0] %} {% assign found = false %} {% for
      tab in site.tabs %} {% if tab.category == category_name or tab.title ==
      category_name %} {% assign tab_url = tab.url %} {% assign found = true %}
      <a href="{{ tab_url | relative_url }}">{{ category_name }}</a>
      {% break %} {% endif %} {% endfor %} {% unless found %}
      <a
        href="{{ '/' | append: category_name | slugify | append: '/' | relative_url }}"
        >{{ category_name }}</a
      >
      {% endunless %}

      <span class="text-muted ps-2">({{ category[1].size }})</span>
    </h3>

    <ul class="list-unstyled ps-lg-2">
      {% assign posts = category[1] | sort: 'date' | reverse %} {% for post in
      posts limit: 5 %}
      <li>
        {% assign ts = post.date | date: '%s' %}
        <span class="date day" data-ts="{{ ts }}" data-df="DD"
          >{{ post.date | date: '%d' }}</span
        >
        <span
          class="date month small text-muted ms-1"
          data-ts="{{ ts }}"
          data-df="/ MM"
          >{{ post.date | date: '/ %m' }}</span
        >
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
      {% endfor %} {% if category[1].size > 5 %}
      <li class="mt-2">
        {% if found %}
        <a
          href="{{ tab_url | relative_url }}"
          class="btn btn-sm btn-outline-primary"
        >
          더 보기 ({{ category[1].size | minus: 5 }}개 더)
        </a>
        {% else %}
        <a
          href="{{ '/' | append: category_name | slugify | append: '/' | relative_url }}"
          class="btn btn-sm btn-outline-primary"
        >
          더 보기 ({{ category[1].size | minus: 5 }}개 더)
        </a>
        {% endif %}
      </li>
      {% endif %}
    </ul>
  </div>
  {% endfor %}
</div>
