---
layout: page
refactor: true
panel_includes:
  - toc
---

<h1 data-toc-skip>{{ page.title }}</h1>

  <div class="post-meta text-muted">
    <!-- published date -->
    <span>
      {{ site.data.locales[lang].post.posted }} {% include datetime.html
      date=page.date tooltip=true lang=lang %}
    </span>

    <!-- lastmod date -->
    {% if page.last_modified_at and page.last_modified_at != page.date %}
    <span>
      {{ site.data.locales[lang].post.updated }} {% include datetime.html
      date=page.last_modified_at tooltip=true lang=lang %}
    </span>
    {% endif %} {% if page.image %} {% capture src %}src="{{ page.image.path |
    default: page.image }}"{% endcapture %} {% capture class
    %}class="preview-img{% if page.image.no_bg %}{{ ' no-bg' }}{% endif %}"{%
    endcapture %} {% capture alt %}alt="{{ page.image.alt | xml_escape |
    default: "Preview Image" }}"{% endcapture %} {% if page.image.lqip %} {%-
    capture lqip -%}lqip="{{ page.image.lqip }}"{%- endcapture -%} {% endif %}

    <div class="mt-3 mb-3">
      <img {{ src }} {{ class }} {{ alt }} w="1200" h="630" {{ lqip }} />
      {%- if page.image.alt -%}
      <figcaption class="text-center pt-2 pb-2">
        {{ page.image.alt }}
      </figcaption>
      {%- endif -%}
    </div>
    {% endif %}

    <div class="d-flex justify-content-between">
      <!-- author(s) -->
      <span>
        {% if page.author %} {% assign authors = page.author %} {% elsif
        page.authors %} {% assign authors = page.authors %} {% endif %} {{
        site.data.locales[lang].post.written_by }}

        <em>
          {% if authors %} {% for author in authors %} {% if
          site.data.authors[author].url -%}
          <a href="{{ site.data.authors[author].url }}"
            >{{ site.data.authors[author].name }}</a
          >
          {%- else -%} {{ site.data.authors[author].name }} {%- endif %} {%
          unless forloop.last %}{{ '</em
        >,
        <em
          >' }}{% endunless %} {% endfor %} {% else %}
          <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>
          {% endif %}
        </em>
      </span>

      <div>
        {% include datetime.html date=page.date tooltip=true %} {% if
        page.last_modified_at %} &nbsp; {% include datetime.html
        date=page.last_modified_at tooltip=true prefix='<i>Updated</i>: ' %} {%
        endif %}
      </div>

      <!-- 여기에 추가적인 커스텀 메타 정보 추가 -->
      <div class="post-custom-meta mt-3 border-top pt-2">
        <span>Posted on: {{ page.date | date: "%Y-%m-%d" }}</span>
        <br />
        {% if page.last_modified_at %}
        <span>Edited on: {{ page.last_modified_at | date: "%Y-%m-%d" }}</span>
        <br />
        {% endif %} {% if page.categories.size > 0 %} {% include
        hierarchical-categories.html categories=page.categories %}
        <br />
        {% endif %} {% if site.pageviews.provider %}
        <span
          >Views:
          <span id="pageviews"
            >{{ site.data.pageviews[page.url] | default: 0 }}</span
          ></span
        >
        {% endif %}
      </div>
    </div>

    <div class="post-content">{{ content }}</div>

    <div class="post-tail-wrapper text-muted">
      <!-- 기존 post-tail 내용 -->
    </div>
  </div>
</div>
